.Profile_pic{
    display: grid;
    place-items: center;
}
.PP_SVG{
    width: 60vw;
    height: 70vh;
    position: relative;
    top: 4vh;
}
.myNameSVG {
    position: relative;
    height: 24vh;
     top: -20vh; 
    /* color:blueviolet */
}
.wave{
    position:relative;
    width: 80vw;
}

.title {
    position :relative;
}